*{margin:0px;padding:0px;}
a{text-decoration:none;}
a img{border:0px;}
li{list-style:none;}
.div1{
	
	width: 400px;
	height: 400px;
	background: url(../img/bg.jpg) no-repeat;
}
ul{
	padding: 27% 10%;
	line-height: 30px;
}
.li1{
	text-indent: .5em;
}
span{color: red;}
.div2{
	padding: 15px 15%;
}
